:root>* {

    --md-footer-bg-color: rgb(49, 64, 28, 1); /*this changes the colour of the navigation footer, where the navigation arrows sit*/
    --md-footer-fg-color: rgba(242, 242, 242, 1); /*this changes the colour of the text in bottom footer, e.g navigation arrows and text*/
    --md-footer-bg-color--dark: rgb(49, 64, 28, 1); /*this changes the colour of the bottom footer, where the copyright and icons sit*/
    --md-footer-fg-color--lighter:  rgb(255, 255, 255); /*this changes the colour of the text in the most bottom footer, - specifically "Made with" - where the copyright and icons sit*/
    --md-footer-fg-color--light:  rgb(255, 255, 255); /*this changes the colour of the text  in the most bottom footer,  the copyright */
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    --md-typeset-a-color: rgb(204, 115, 7); /*this changes the colour of the selected link text*/

}
:root {
  --md-primary-fg-color:        #283617; /* this changes the top header colour*/
  --md-primary-fg-color--light: #F2F2F2; /* not sure what this changes yet, best leave it a neutral colour till then*/
  --md-primary-fg-color--dark:  #0D0D0D; /* not sure what thsi changes yet either, best to leave neutral colour till then*/
}
/* Color Theme Swatches in Hex */
.Oliver-Portfolio-Colour-Palette-1-hex { color: #283617; } forest green
.Oliver-Portfolio-Colour-Palette-2-hex { color: #A8A6A1; } dark gray
.Oliver-Portfolio-Colour-Palette-3-hex { color: #F2F2F2; } light gray
.Oliver-Portfolio-Detailed-Palette-5-hex { color: #0D0D0D; } off black

/* Color Theme Swatches in RGBA */
.Oliver-Portfolio-Detailed-Palette-1-rgba { color: rgba(49, 64, 28, 1); }
.Oliver-Portfolio-Detailed-Palette-2-rgba { color: rgba(238, 242, 233, 1); }
.Oliver-Portfolio-Detailed-Palette-3-rgba { color: rgba(166, 164, 161, 1); }
.Oliver-Portfolio-Detailed-Palette-4-rgba { color: rgba(242, 242, 242, 1); }
.Oliver-Portfolio-Detailed-Palette-5-rgba { color: rgba(13, 13, 13, 1); }

/* Color Theme Swatches in HSLA */
.Oliver-Portfolio-Detailed-Palette-1-hsla { color: hsla(84, 39, 18, 1); }
.Oliver-Portfolio-Detailed-Palette-2-hsla { color: hsla(86, 25, 93, 1); }
.Oliver-Portfolio-Detailed-Palette-3-hsla { color: hsla(36, 2, 64, 1); }
.Oliver-Portfolio-Detailed-Palette-4-hsla { color: hsla(0, 0, 94, 1); }
.Oliver-Portfolio-Detailed-Palette-5-hsla { color: hsla(0, 0, 5, 1); }

[data-md-color-scheme="Oliver Lloyd Design"] {
--md-primary-fg-color:        #283617; /* this changes the top header colour*/
  --md-primary-fg-color--light: #F2F2F2; /* not sure what this changes yet, best leave it a neutral colour till then*/
  --md-primary-fg-color--dark:  #0D0D0D; /* not sure what thsi changes yet either, best to leave neutral colour till then*/
}

body { 
    background-color: #f2f2f2;
}
.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(238, 242, 233, 1);
    border-radius: 4px;
  }
  /* the following css styling marked .grid is what allows the creation of hoverable cards when the appropriate div class is included in the markdown document */
  .md-typeset .grid {
    grid-gap:.4rem;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(min(100%,16rem),1fr));
    margin:1em 0
  }
  .md-typeset .grid.cards>ol,
  .md-typeset .grid.cards>ul {
    display:contents
  }
  .md-typeset .grid.cards>ol>li,
  .md-typeset .grid.cards>ul>li,
  .md-typeset .grid>.card {
    border:.05rem solid var(--md-default-fg-color--lightest);
    border-radius:.1rem;
    display:block;
    margin:0;
    padding:.8rem;
    transition:border .25s,box-shadow .25s
  }
  .md-typeset .grid.cards>ol>li:focus-within,
  .md-typeset .grid.cards>ol>li:hover,
  .md-typeset .grid.cards>ul>li:focus-within,
  .md-typeset .grid.cards>ul>li:hover,
  .md-typeset .grid>.card:focus-within,
  .md-typeset .grid>.card:hover {
    border-color:#0000;
    box-shadow:var(--md-shadow-z2)
  }
  .md-typeset .grid.cards>ol>li>hr,
  .md-typeset .grid.cards>ul>li>hr,
  .md-typeset .grid>.card>hr {
    margin-bottom:1em;
    margin-top:1em
  }
  .md-typeset .grid.cards>ol>li>:first-child,
  .md-typeset .grid.cards>ul>li>:first-child,
  .md-typeset .grid>.card>:first-child {
    margin-top:0
  }
  .md-typeset .grid.cards>ol>li>:last-child,
  .md-typeset .grid.cards>ul>li>:last-child,
  .md-typeset .grid>.card>:last-child {
    margin-bottom:0
  }
  .md-typeset .grid>*,
  .md-typeset .grid>.admonition,
  .md-typeset .grid>.highlight>*,
  .md-typeset .grid>.highlighttable,
  .md-typeset .grid>.md-typeset details,
  .md-typeset .grid>details,
  .md-typeset .grid>pre {
    margin-bottom:0;
    margin-top:0
  }
  .md-typeset .grid>.highlight>pre:only-child,
  .md-typeset .grid>.highlight>pre>code,
  .md-typeset .grid>.highlighttable,
  .md-typeset .grid>.highlighttable>tbody,
  .md-typeset .grid>.highlighttable>tbody>tr,
  .md-typeset .grid>.highlighttable>tbody>tr>.code,
  .md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight,
  .md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre,
  .md-typeset .grid>.highlighttable>tbody>tr>.code>.highlight>pre>code {
    height:100%
  }
  .md-typeset .grid>.tabbed-set {
    margin-bottom:0;
    margin-top:0
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}

/*this code snippet adjusts the colour, box shadow and position of the text box surrounding the header in the left hand side navigation bar, e.g "Term 1" */
@media screen and (min-width: 76.25em) {
  .md-nav--lifted > .md-nav__list > .md-nav__item--active > .md-nav__link {
    background: none; /* to add a colour to the background, change "none" to the hex code of whatever colour you want*/
    box-shadow: none;
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

/* The following code is what controls how images look when displayed with div class: image-grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 10px;
  /* Additional grid container styles can be added here */
}

/* Styles for individual grid items (images) */
.grid-item {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px; /* Add rounded corners to images */
  /* Additional styles for grid items can be added here */
}

/* Styles for portrait images */
.portrait-image {
  object-position: center middle; /* Adjust this property to control the cropping of portrait images */
}

aside {
  background-color: #283617; /* Light grey background, change as needed */
  color: #ffff; /* Dark grey text, change as needed */
  padding: 15px; /* Add some padding around the text */
  border-radius: 8px; /* Rounded corners for the box */
  border-left: 5px solid rgb(204, 115, 7); /* A colored bar on the left, change color as needed */
  margin: 20px 0; /* Add some margin above and below the aside */
  /* Add other styles such as box shadow or border as desired */
}